h1{
	text-align:  center;
}
table{
	width: 65%;
	margin: 0 auto;
	border-collapse: collapse;
}

thead{
	
	border-bottom: 2px solid blue;
}

th{
	background: #dfdfdf;
}

tr>*{
	border: 1px solid black;
}